{
  "extends": ["standard", "prettier", "prettier/standard", 'plugin:react/recommended'],
  "plugins": ["import", "mocha", "react", "react-hooks"],
  "globals": {
    "fetch",
    "__DEV__": true
  },
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.js",
          "**/expect.js",
          "rollup.config.js",
        ],
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error"
  }
}
