{
  "extends": ["prettier", "eslint:recommended"],
  "plugins": ["import", "mocha"],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.spec.mjs",
          "rollup.config.js",
        ],
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
